.vodl-external-post__paywall-section {
  display: none !important;
}

.vodl-paywall {
  display: none !important;
}

.vodl-region-article__premium-content {
  display: block !important;
}

.tp-modal {
  display: none !important;
}

.tp-backdrop.tp-active {
  display: none !important;
}

#comments section>div:nth-child(2) {
  display: none !important;
}

body.tp-modal-open {
  overflow: auto !important;
}